body {
    background-color: lightgrey;
    
}

#container {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 100px;
}

input {
    border-radius: 0;
    width: 30vw;
    height: 5vh;
}

input:hover {
    border-radius: 10px;
    background-color: lightblue;
    box-shadow: 5px 5px 5px 0px blue;
    transition: all 1s ease;
}