*{
    box-sizing: border-box;
}

#container{
    top: 50px;
 width: 200px;
 height: 200px;
 margin: 0 auto;
 border: 1px solid #000000;
 position: relative;
 background: red;
 
}

#container:hover {
    transform: rotate(45deg);
    background: blue;
    transition: all 2s ease;
}