#container {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/IIS.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100% 100%;
   
}

#astronauta {
    position: absolute;
    left: 15%;
    margin-top: 20em;
    width: 10em;
    
    
    
}

#boton {
    position: absolute;
    left: 10%;
    margin-top: 5%;
    
}
   
.mover {
    transform:  translateX(1000px);
    transition: all 5s linear;
  
   
}



