#container {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/torrePisaApaisado.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
   
}

#pelota {
    position: absolute;
    left: 20%;
    
}

#boton {
    position: absolute;
    left: 20%;
    margin-top: 5%;
    
}
   
.caer {
    transform:  translate(-5px, 1000px) rotate(90deg);
    transition: all 9.4s ease;
}



